.App {
  text-align: center;
  background: linear-gradient(
    135deg,
    #ffb6b9 0%,
    #ffd3b6 25%,
    #fdffb6 50%,
    #b6ffb9 75%,
    #b6e5ff 100%
  );

  background-size: 400% 400%;
  animation: gradient 15s ease-in-out infinite;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App-header {
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

/* login button styles */

.login-button {
  background-color: #1db954;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 20px 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login-button:hover {
  background-color: #1ed760;
}

.login-button:active {
  background-color: #1ed760;
  transform: scale(0.98);
}

.login-button:focus {
  outline: none;
}

.login-button:disabled {
  background-color: #b3b3b3;
  cursor: not-allowed;
}

.login-button a {
  color: #fff;
  text-decoration: none;
}
