.App {
  text-align: center;
  background: linear-gradient(
    90deg,
    #e83c3c 0%,
    #ff7f50 5%,
    #ffbf00 10%,
    #ffdc00 15%,
    #aaff00 20%,
    #32cd32 25%,
    #00bfff 30%,
    #8a2be2 35%,
    #e83c3c 40%,
    #ff7f50 45%,
    #ffbf00 50%,
    #ffdc00 55%,
    #aaff00 60%,
    #32cd32 65%,
    #00bfff 70%,
    #8a2be2 75%,
    #e83c3c 80%,
    #ff7f50 85%,
    #ffbf00 90%,
    #ffdc00 95%,
    #aaff00 100%,
    #203a43 105%,
    #2c5364 110%,
    #203a43 115%,
    #0f2027 120%
  );

  animation: groove 50s ease-in-out infinite;

  background-size: 400% 400%;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes groove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App-header {
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}
